.blog-post-list {
  .blog-post-date {
    width: 6em;
    color: $muted;
    display: block;
    float: left;

    @include media-query($on-mobile) {
      display: block;
      float: none;
      color: $text-color;
      font-size: 11px;
      margin-top: 14px;
    }
  }

  .blog-post-title {
    font-size: 100%;
    letter-spacing: normal;
  }
}
